<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
    <title>Home</title>
</head>

<body>
    {{>header}}
    <div class="container">
    <h2>Books</h2>
    <ul class="responsive-table">

        <li class="table-header">
        <div class="col col-2">Name</div>
        <div class="col col-2">Author</div>
        <div class="col col-3">Release Date</div>
        <div class="col col-4">Availability</div>
        <div class="col col-4">Price</div>
        </li>

        <li class="table-row">
        <div class="col col-2" data-label="Name">Song of Solomon</div>
        <div class="col col-2" data-label="Author">James Joyce</div>
        <div class="col col-3" data-label="Release Date">2014</div>
        <div class="col col-4" data-label="Availability">No</div>
        <div class="col col-4" data-label="Availability">$960</div>
        </li>

        <li class="table-row">
        <div class="col col-2" data-label="Name">Ulysses</div>
        <div class="col col-2" data-label="Author">Leo Tolstoy</div>
        <div class="col col-3" data-label="Release Date">2019</div>
        <div class="col col-4" data-label="Availability">Yes</div>
        <div class="col col-4" data-label="Availability">$850</div>
        </li>

        <li class="table-row">
        <div class="col col-2" data-label="Name">The Shadow of the Wind</div>
        <div class="col col-2" data-label="Author">Carlos Ruiz Zafon</div>
        <div class="col col-3" data-label="Release Date">2020</div>
        <div class="col col-4" data-label="Availability">Yes</div>
        <div class="col col-4" data-label="Availability">$1200</div>
        </li>

        <li class="table-row">
        <div class="col col-2" data-label="Name">The Lord of the Rings</div>
        <div class="col col-2" data-label="Author">J.R.R. Tolkien</div>
        <div class="col col-3" data-label="Release Date">2013</div>
        <div class="col col-4" data-label="Availability">No</div>
        <div class="col col-4" data-label="Availability">$1600</div>
        </li>

        <li class="table-row">
        <div class="col col-2" data-label="Name">The Satanic Verses</div>
        <div class="col col-2" data-label="Author">Salman Rushdie</div>
        <div class="col col-3" data-label="Release Date">2016</div>
        <div class="col col-4" data-label="Availability">Yes</div>
        <div class="col col-4" data-label="Availability">$900</div>
        </li>

    </ul>
    </div>
</body>

<footer>
    <h3>Created by <strong>Alex Viola</strong></h3>
</footer>

</html>

<script>

</script>

<style lang="css">
body {
	 font-family: 'lato', sans-serif;
}
 .container {
	 max-width: 1000px;
	 margin-left: auto;
	 margin-right: auto;
	 padding-left: 10px;
	 padding-right: 10px;
}
 h2 {
	 font-size: 26px;
	 margin: 20px 0;
	 text-align: center;
}
 h2 small {
	 font-size: 0.5em;
}
 .responsive-table li {
	 border-radius: 3px;
	 padding: 25px 30px;
	 display: flex;
	 justify-content: space-between;
	 margin-bottom: 25px;
}
 .responsive-table .table-header {
	 background-color: #95a5a6;
	 font-size: 14px;
	 text-transform: uppercase;
	 letter-spacing: 0.03em;
}
 .responsive-table .table-row {
	 background-color: #fff;
	 box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
 .responsive-table .col-1 {
	 flex-basis: 10%;
}
 .responsive-table .col-2 {
	 flex-basis: 40%;
}
 .responsive-table .col-3 {
	 flex-basis: 25%;
}
 .responsive-table .col-4 {
	 flex-basis: 25%;
}
 @media all and (max-width: 767px) {
	 .responsive-table .table-header {
		 display: none;
	}
	 .responsive-table li {
		 display: block;
	}
	 .responsive-table .col {
		 flex-basis: 100%;
	}
	 .responsive-table .col {
		 display: flex;
		 padding: 10px 0;
	}
	 .responsive-table .col:before {
		 color: #6c7a89;
		 padding-right: 10px;
		 content: attr(data-label);
		 flex-basis: 50%;
		 text-align: right;
	}
}

</style>