<h1>{{ title }}</h1>

<div class="custom-navbar">
    <div class="navbar-links">
        <ul>
            <li><a href="http://salehriaz.com/404Page/404.html" target="_blank">Home</a></li>
            <li><a href="http://salehriaz.com/404Page/404.html" target="_blank">About</a></li>
        </ul>
    </div>
</div>

<style lang="css">
.custom-navbar{
    padding-top: 15px;
}

.navbar-links{
    display: inline-block;
    float: right;
    margin-right: 15px;
    text-transform: uppercase;


}

@media only screen and (max-width: 600px){
.navbar-links{
    display: none;
}

.custom-navbar{
    text-align: center;
}
}
</style>